.container {
    height: 100%;
    width: 100%;
}

.critical {
    color: red;
}

button {
    margin: 3px;
}

.plot-grid {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(214, 214, 214);
    text-align: center;
 }
